# default reviewers
*                 @greenbone/gsa-dev

# cmake files
*/CMakeLists.txt  @bjoernricks @wiegandm
*.cmake           @bjoernricks @wiegandm
ng/CMakeLists.txt @bjoernricks

# web dev files
*.js              @bjoernricks @swaterkamp
*.css             @bjoernricks @swaterkamp

# all gsad files
/gsad/            @bjoernricks @timopollmeier
# tools
/tools/           @bjoernricks @timopollmeier

# licenses
COPYING*          @wiegandm
LICENSE           @wiegandm
