version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: monthly
      time: '04:00'
    open-pull-requests-limit: 10
    versioning-strategy: increase
    ignore:
      - dependency-name: fast-xml-parser
        versions:
          - '> 3.21.1'
      - dependency-name: history
        versions:
          - '> 4.10.1'
      - dependency-name: react-router-dom
        versions:
          - '> 5.3.0'
      - dependency-name: husky
        versions:
          - '> 2.7.0'
      - dependency-name: lint-staged
        versions:
          - '> 8.2.1'
      - dependency-name: react-datepicker
        versions:
          - '> 1.8.0'
      - dependency-name: '@testing-library/react'
        versions:
          - '>= 10.a, < 11'
      - dependency-name: '@testing-library/user-event'
        versions:
          - '>13.5.0'
      - dependency-name: '@vx/axis'
        versions:
          - '> 0.0.183'
      - dependency-name: '@vx/gradient'
        versions:
          - '> 0.0.183'
      - dependency-name: '@vx/shape'
        versions:
          - '> 0.0.179'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
 
  - package-ecosystem: 'github-actions'
    directory: '/'
    target-branch: "oldstable"
    schedule:
      interval: 'weekly'
