{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "i18next-extract",
      {
        "locales": [
          "de",
          "zh_TW",
          "zh_CN"
        ],
        "contextSeparator": null,
        "nsSeparator": false,
        "keySeparator": false,
        "outputPath": "public/locales/gsa-{{locale}}.json",
        "tFunctionNames": [
          "_",
          "_l"
        ],
        "discardOldKeys": true,
        "keyAsDefaultValue": [
          "en"
        ],
        "useI18nextDefaultValue": false,
        "keyAsDefaultValueForDerivedKeys": false
      }
    ]
  ]
}
