/* Styles for icon menus */

.icon-menu {
  font-weight: bold;
  position: relative;
}

.icon-menu:hover img {
  background-color: #99CE48;
}

.icon-menu ul {
  position: absolute;
  display: none;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 5;
  list-style: none;
  font-size: 10px;
  border: 1px solid #3A3A3A;
  border-radius: 0px 8px 8px 8px;
  background-color: #FAFAFA;
}

.icon-menu:hover ul {
  display: inline;
}

.icon-menu .menu-entry {
  width: 255px;
}

.icon-menu .menu-entry:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
}
