.menu {
  flex: auto;
}

.menu .icon {
  height: 35px;
  width: 35px;
}

.menu > a {
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.menu > a:link,
.menu > a:focus {
  color: #FFFFFF;
  text-decoration: none;
}

.menu:hover > a {
  background-color: #99ce48;
  color: #393637;
  text-decoration: none;
}

.menu > ul {
  width: 255px;
  z-index: 6;
  position: absolute;
  margin-top: -1px;
  display: none;
  background: #FAFAFA;
  border: 1px solid #3A3A3A;
  -webkit-border-radius: 0px 0px 8px 8px;
  -moz-border-radius: 0px 0px 8px 8px;
  border-radius: 0px 0px 8px 8px;
}

.menu:hover > ul {
  display: block;
}

.menu-point {
  background: url('/img/style/menu_pointy.png') no-repeat;
  display: block;
  height: 15px;
  margin-top: -14px;
  margin-left: 25px;
}
