.menu-entry  {
  text-decoration: none;
  text-indent: 12px;
  text-align: left;
  color: #3A3A3A;
  height: 22px;
  line-height: 22px;
  font-size: 10px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.menu-entry > a {
  display: block;
  background: none;
  text-decoration: none;
  color: #3A3A3A;
}

.menu-entry > a:hover,
.menu-entry > a:focus,
.menu-entry > a:link {
  text-decoration: none;
  color: #3A3A3A;
}

.menu-entry:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.menu-entry:hover {
  background: #99CE48;
}
