/* grid system */

.container {
  margin-right: auto;
  margin-left: auto;
}

.float .container:before,
.float .container:after {
  content: " ";
  display: table;
}

.float .container:after {
  clear: both;
}

.float .col-1,
.float .col-2,
.float .col-3,
.float .col-4,
.float .col-5,
.float .col-6,
.float .col-7,
.float .col-8,
.float .col-9,
.float .col-10,
.float .col-11,
.float .col-12 {
  float: left;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10,
.col-11, .col-12 {
  padding-left: 10px;
  padding-right: 10px;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.offset-11 {
  margin-left: 91.66666667%;
}

.offset-10 {
  margin-left: 83.33333333%;
}

.offset-9 {
  margin-left: 75%
}

.offset-8 {
  margin-left: 66.66666667%;
}

.offset-7 {
  margin-left: 58.33333333%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-5 {
  margin-left: 41.66666667%;
}

.offset-4 {
  margin-left: 33.33333333%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-1 {
  margin-left: 8.33333333%;
}

/* flexbox based layout */

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex .auto {
  /* use as much space as possible */
  flex: auto;
}

.flex .none {
  /* use as much space as height/width of the element */
  flex: none;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-start {
  justify-content: flex-start;
}

.flex.justify-end {
  justify-content: flex-end;
}

.flex.justify-space-around {
  justify-content: space-around;
}

.flex.justify-space-between {
  justify-content: space-between;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.align-end {
  align-items: flex-end;
}

.flex.align-start {
  align-items: flex-start;
}

.flex.align-stretch {
  align-items: stretch;
}

.flex.row > .box + .box {
  margin-left: 10px;
}

.flex.column > .box + .box {
  margin-top: 5px;
}

/* vim: set ts=2 sw=2 tw=80:*/
