.form-item {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.form-item + .form-item,
.form-item + span > .form-item {
  margin-left: 10px;
}

.form-item label {
  margin-bottom: 0;
  vertical-align: middle;
  line-height: 22px;
  white-space: normal;
}

.form-item .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
