.entities-section > .section-header h2 .icon {
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes fadein {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}
