.row-details-toggle {
  cursor: pointer;
  text-decoration: none;
  color: blue;
}

.row-details-toggle:hover {
  text-decoration: underline;
  color: blue;
}

@media print, screen {
  .row-details-toggle {
    color: black;
  }
}

/* vim: set ts=2 sw=2 tw=80:*/
