[Unit]
Description=OpenVAS Manager
After=network.target
After=openvas-scanner.service
After=openvas-manager.service

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/gsad
#ExecStart=/usr/sbin/gsad --listen $GSA_ADDRESS --port $GSA_PORT --mlisten $MANAGER_ADDRESS --mport $MANAGER_PORT --gnutls-priorities $GNUTLS_PRIORITIES $OPTIONS
ExecStart=/usr/sbin/gsad --listen $GSA_ADDRESS --port $GSA_PORT --rport $R_PORT --gnutls-priorities $GNUTLS_PRIORITIES $OPTIONS
Restart=always
RestartSec=1
User=root
Group=root
TimeoutSec=1200

[Install]
WantedBy=multi-user.target

