.powerfilter .select2-container {
    min-width: 100px;
}

.powerfilter .form-group,
.powerfilter .form-group .control-label {
    margin-right: 5px;
}

.powerfilter .footnote {
  padding-top: 3px;
  height: 1em;
}
