.severity-class-label {
  text-align: center;
  vertical-align: center;
  font-weight: normal;
  font-style: normal;
  color: white;
  padding: 0px;
  border-width: 1px;
  border-style: outset;
  display: inline-block;
  width: 60px;
  height: 1.5em;
  font-size: 0.8em;
}

.severity-class-label.high {
  background-color: #C83814;
  border-color: #C83814;
}

.severity-class-label.medium {
  background-color: #F0A519;
  border-color: #F0A519;
}

.severity-class-label.low {
  background-color: #4F91C7;
  border-color: #4F91C7;
}

.severity-class-label.log {
  background-color: #191919;
  border-color: #191919
}

.severity-class-label.false-positive {
  background-color: #191919;
  border-color: #191919;
}
