.titlebar {
  height: 40px;
  background-color: #99CE48;
  padding: 0px 5px 0px 5px;
}

.titlebar .greenbone-icon {
  width: 40px;
  margin-right: 4px;
}

.titlebar .greenbone-icon, .titlebar .greenbone-text {
  height: 40px;
  padding-top: 1px;
  padding-bottom: 1px;
}
