/* buttons */

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* fix height difference between a.button and input/button.button */
  border: 0;
  padding: 0;
}

button {
  /* use font and line settings from parents not from browser default */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.button {
  display: inline-block;
  padding: 0 15px;
  color: #555;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  font-weight: bold;
  line-height: 30px;
  text-decoration: none;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  overflow: visible;
}

.button:link {
  text-decoration: none;
  color: #555;
}
.button:hover, .button:focus {
  border: 1px solid #519032;
}

.button:hover {
  text-decoration: none;
  background: #519032;
  font-weight: bold;
  color: #fff
}

.button.disabled, .button[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button-primary {
  border: 1px solid #519032;
  background-color: #87d050;
  font-weight: bold;
  color: #519032;
}

.button img {
  height: 32px;
  width: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: -10px;
  vertical-align: middle;
}

.button-block {
  display: block;
  width: 100%;
}
