input[type="radio"],
input[type="checkbox"] {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  line-height: normal;
}

.checkbox label,
.radio label,
.radio-inline,
.checkbox-inline {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
  cursor: pointer;
}

.checkbox > label > div,
.checkbox > label > span,
.radio > label > span {
  margin-left: 2px;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="text"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
input[type="text"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
  opacity: 0.5;
}
