name: Container Image Builds

on:
  push:
    branches: [oldstable]
    tags: ['v*']
  workflow_dispatch:

jobs:
  images:
    name: Build and upload container images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Gather container image tags
        uses: greenbone/actions/container-image-tags@v1
        id: container
      - name: Login to Docker Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push Container image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.container.outputs.image-tags }}
          platforms: linux/amd64,linux/arm64
          file: .docker/prod.Dockerfile
