name: Container Image Builds for Pull Requests

on:
  pull_request:

env:
  REGISTRY: ghcr.io

jobs:
  images:
    name: Build and upload container images for Pull Requests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Gather container image tags
        uses: greenbone/actions/container-image-tags@v1
        id: container
        with:
          registry: ${{ env.REGISTRY }}
      - name: Login to Docker Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Container image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.container.outputs.image-tags }}
          file: .docker/main.Dockerfile


